# source: https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
# -------------------------------------------------------------------------------------------------
# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore


.env
.gitattributes
.idea
.osgrep
.task
bin
downloader
web/resources/static/index.css
web/resources/static/libs
tmp
opencode.jsonc
osquery.*
osquery.db/
server.log
flagfile.txt
ctrf/

# bv (beads viewer) local config and caches
.bv/
